<ng-container *ngIf="analyses?.length > 0, else noAnalyses">
    <div *ngFor="let analysis of analyses" style="margin-bottom: 50px;margin-top: 30px;">
        <div class="row" style="margin-left: 30px;">
            <div class="col-sm-2">
                <i class="fa fa-book fa-4x" aria-hidden="true"></i>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-10">
                        <h3>Naslov: {{analysis.analisysTitle}}</h3>
                        <div class="row">
                            <div class="col-sm-8">
                                <h4>Opis: {{analysis.analisysDescription}}</h4>
                            </div>
                            <div class="col-sm-4">
                                <a [routerLink]="['/patient-edit/', patient._id]"><i class="fa fa-search fa-2x" aria-hidden="true"
                                    style="margin-right:20px"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

</ng-container>


<ng-template #noAnalyses>
    <div>
        <h3>No analyses made here!</h3>
    </div>
</ng-template>